<div ng-include="'/header.html'"></div>
  <!-- Content
  ============================================= -->
  <section id="content">
    <div class="content-wrap">

      <div class="container clearfix">

        <!-- Post Content
        ============================================= -->
        <div class="postcontent nobottommargin col_last">

          <!-- Shop
          ============================================= -->
          <div id="shop" class="shop product-3 grid-container clearfix" ng-init="vm.query()">

	<div class="product sf-pant clearfix" ng-repeat="result in results" >
								<div class="product-image" ui-sref="startups.view({ startupId: result._id })">
									<a href="#" ng-if='result.logo' ><img ng-src='{{result.logo}}' alt="{{result.name}}"></a>
							<a href="#" ng-if='!result.logo' ><img src="http://placehold.it/350x350" alt="{{result.name}}"></a>
									<div class="product-overlay">
										<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Profile</span></a>
										<a href="#"" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Subscribe</span></a>
									</div>
								</div>
								<div class="product-desc center">
									<div class="product-title"><h3><a href="#"><span ng-bind="result.name"></span></a></h3></div>
									<div class="product-price"><i ng-bind="result.country"></i></div>
									<div class="product-rating">
										<i ng-bind-html="result.description"></i>

									</div>
								</div>
							</div>


            <div class="text-center">
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>    </div>

          </div><!-- #shop end -->

        </div><!-- .postcontent end -->

        <!-- Sidebar
        ============================================= -->
        <div class="sidebar nobottommargin">
          <div class="sidebar-widgets-wrap">

            <div class="widget widget-filter-links clearfix">

              <h4>Select Category</h4>
              <ul class="custom-filter" data-container="#shop" data-active-class="active-filter">
                <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>
                <li><a href="#" data-filter=".sf-dress">Dress</a></li>
                <li><a href="#" data-filter=".sf-tshirt">Tshirts</a></li>
                <li><a href="#" data-filter=".sf-pant">Pants</a></li>
                <li><a href="#" data-filter=".sf-sunglass">Sunglasses</a></li>
                <li><a href="#" data-filter=".sf-shoes">Shoes</a></li>
                <li><a href="#" data-filter=".sf-watch">Watches</a></li>
              </ul>

            </div>

            <div class="widget widget-filter-links clearfix">

              <h4>Sort By</h4>
              <ul class="shop-sorting">
                <li class="widget-filter-reset active-filter"><a href="#">Clear</a></li>
                <li><a>Name</a></li>
                <li><a>Price: Low to High</a></li>
                <li><a>Price: High to Low</a></li>
              </ul>

            </div>

          </div>
        </div><!-- .sidebar end -->

      </div>

    </div>

  </section><!-- #content end -->
